body{
    font-family: Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#041746 !important;
    background-image: linear-gradient( to bottom, #041746 30%, #FF1493 , #041746, #041746 ); 
}

.bg-menu{
     background-color: #040b29 !important;
} 
.logo{ font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo1{font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 110px;

}


#navbarNav{
    font-weight: bold;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;


}

#navbarNav {
    margin-left: 0.5rem;
}

.titulo{
    font-size:  15px!important;
    color: #000000!important;
    font-style:inter;
    text-align:center;
    font-family: Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 85px;
}

.separator{
  border-top: 1px dashed rgb(73, 15, 189);
  border-bottom: 1px solid rgb(76, 64, 180);
      color: rgb(255, 255, 255);
      background-color:  rgb(73, 15, 189);
      width: 50%;
      height: 20px;
      border-radius: 3.5px;
      border-bottom:26px solid rgb(76, 64, 180);
      text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-style: bol;
      font: size 18px;
    }
    .separator > span {
      font-size: 26px;
      background-color:  rgb(73, 15, 189);
      padding: 0 10px;
      
    }


h5{
   color:#cee511 !important;
   font-size:22px;
}


h3,  h4, .col-4 p{
 color:#ffffff !important;
}


.h4{
 color:#ffffff !important;
 font-style: italic;
}

h3{
  font-size:22px;
  font-style: italic;
  color:#ffffff !important;
}
.ancora-conheca-meu-site{

  border-top: 1px dashed rgb(73, 15, 189);
  border-bottom: 1px solid rgb(76, 64, 180);
      color: rgb(255, 255, 255);
      background-color:  rgb(73, 15, 189);
      width: 50%;
      height: 20px;
      border-radius: 3.5px;
      border-bottom:26px solid rgb(76, 64, 180);
      text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-style: bold;
      font: size 18px;

}




img{
  width: 100%;
}

.container-md{
 max-width: 900px !important;
}

.nopadding{
 padding-left: 0px !important;
 padding-right: 0px !important;
}

.btn-pink {
 background-color: #FF1493 !important;
 border-color: #FF1493 !important;
 border-radius: 35px !important;
 }

.btn-pink-lg {
   min-width: 125px !important;
   }

.btn-pink:hover {
 background-color: #C71585 !important;
 border-color: #C71585 !important;
}

.btn-pink-margin{
 margin-left: 5px !important; 

}

.bordertitle{
 border-radius: 35px !important;
 font-size:22px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 font-style: bold;
 color:#ffffff !important;
 background-color:#FF1493 !important;
 text-align: center !important;
 margin-top: 50px;
 width: 500px;
 margin-left: 4rem;
}


.btn-contato{
 margin-left: 2rem !important;
}

#inputEmailNovidades{
 background-color: transparent !important;
 border-color: white !important;
 border-width: 2px !important;
 border-top: transparent !important;
 border-left: transparent !important;
 border-right: transparent !important;
 border-radius: 0px !important;
}

.inputplaceholder ::placeholder {
 color: white !important;
 text-align: center !important;
 font-size: 12px !important;
}

.fontsize12{
 font-size: 12px!important;
}


.ancora-conheca-meu-site {
  background-color: #f5008f;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 20px;
  border-radius: 20px;
  border-style: double;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}

.ancora-conheca-meu-site:hover {
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  }


.section-servicos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  background-color: white;
  margin-top: 0%;
}

.section-servicos{
margin-bottom: auto;
padding-bottom: 53px;
padding-top: 40px;
}

.card-redes-sociais{
  background-color: #040B28;
  width: 169px;
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border-style: double;
}

.card-redes-sociais:hover{
  background-color: #E80D75;
  color: #ffffff;
  font-weight: bold;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.nome-rede-social {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nome-usuario-rede-social{
  font-size: 13px;
}

.destaque-nome{
  color: #f5008f;
  font-weight: bold;
}

.icone-rede-social {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.nome-usuario-rede-social{
text-align: center;
}

.div-teste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}




/** About section **/

#about-section {
  padding: 14px;
  text-align: center;
  background-color: #ff3848;
  color: white;
  width: 100%;
  height: 200px;
}

#about-section{
  display: flex;}


#image_about img{
  width: 250px;
  height: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

#text_about {
  flex: 1;
  font-family:  Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: smaller;
 

}
.divider{
  border-top: 1px dashed rgb(73, 15, 189);
  border-bottom: 1px solid rgb(76, 64, 180);
      color: #fff;
      background-color: #fff;
      height: 70px;
      width: 100%;
      margin-top: 0%;
}

/** About section **/

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}