body {
    font-family: Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: #041746 !important;
    background-image: linear-gradient(to bottom, #041746 30%, #FF1493, #041746, #041746);
}

.bg-menu {
    background-color: #040b29 !important;
}

#navbarNav {
    font-weight: bold;
    font-size: 22px;
}

#navbarNav {
    margin-left: 0.5rem;
}

.titulo {
    font-size: 15px !important;
    color: #000000 !important;
    text-align: center;
    font-family: Inter, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 85px;
}

hr.divisão {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 0 2px #ff1493;
}

hr.divisão { /* Not really supposed to work, but does */
    content: "\00a0"; /* Prevent margin collapse */
}


h5 {
    color: #cee511 !important;
    font-size: 22px;
}


h3, h4, .col-4 p {
    color: #ffffff !important;
}


.h4 {
    color: #ffffff !important;
    font-style: italic;
}


.Ser {
    font-family: Inter, sans-serif;
    font-size: 25px;
}

img {
    width: 100%;
}

.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-pink {
    background-color: #FF1493 !important;
    border-color: #FF1493 !important;
    border-radius: 35px !important;
}

.btn-pink-lg {
    min-width: 125px !important;
}

.btn-pink:hover {
    background-color: #C71585 !important;
    border-color: #C71585 !important;
}

.btn-pink-margin {
    margin-left: 5px !important;

}

.bordertitle {
    border-radius: 35px !important;
    font-size: 22px;
    font-family: Inter, sans-serif;
    color: #ffffff !important;
    background-color: #FF1493 !important;
    text-align: center !important;
    margin-top: 50px;
    width: 500px;
    margin-left: 4rem;
}


.btn-contato {
    font-weight: bold !important;
    border-radius: 0.6rem !important;
}

#inputEmailNovidades {
    background-color: transparent !important;
    border-color: #f8f8ff !important;
    border-width: 2px !important;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 0 !important;
}

.inputplaceholder ::placeholder {
    color: #f8f8ff !important;
    text-align: center !important;
    font-size: 12px !important;
}

.fontsize12 {
    font-size: 12px !important;
}


.section-servicos {
    justify-content: space-around;
    background-color: #f8f8ff;
    margin-top: 0;
    padding-bottom: 53px;
    padding-top: 40px;
}

.card-redes-sociais {
    background-color: #040B28;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8f8ff;
    text-decoration: none;
    border-radius: 0.9rem;
    margin: 0.1rem;
}


.card-redes-sociais:hover {
    background-color: #E80D75;
    color: #ffffff;
    font-weight: bold;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.nome-usuario-rede-social {
    text-align: center;
    font-size: 0.9rem;
}


@media (min-width: 0px) {
    .parag {
        font-size: 0.8rem;

    }

    .nome-rede-social {
        font-size: 0.7rem !important;
    }

    .nome-usuario-rede-social {
        font-size: 0.6rem;
    }

    .img-palestra {
        width: 40% !important;
        margin-top: auto !important;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .parag {
        font-size: 0.6rem;
    }


    .nome-rede-social {
        font-size: 0.7rem !important;
    }

    .nome-usuario-rede-social {
        font-size: 0.6rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .parag {
        font-size: 0.8rem;
    }

    .nome-rede-social {
        font-size: 0.9rem !important;
    }

    .nome-usuario-rede-social {
        font-size: 0.8rem;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .parag {
        font-size: 1rem;
    }

    .nome-rede-social {
        font-size: 1.2rem !important;
    }

    .nome-usuario-rede-social {
        font-size: 1rem;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .parag {
        font-size: 1.3rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .parag {
        font-size: 1.5rem;
    }
}


.nome-rede-social {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.destaque-nome {
    color: #f5008f;
    font-weight: bold;
}

.icone-rede-social {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 10px;
}


/** About section **/

#about-section {
    padding: 14px;
    text-align: center;
    background-color: #ff3848;
    color: #f8f8ff;
}

/** About section **/

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ff1493;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.9s;
}

@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
